html,body,div,p,a,img,ul,ol,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,fieldset,label,legend,input,select,textarea {
	margin:0;
	padding:0;
	background:transparent;
	border:0;
	outline:0;
}
html,body{
	height:100%;
	width:100%;
}
body{
	font: 13px 'Francois One','Segoe UI Semibold','Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	line-height:1.4;
}
a{text-decoration:none}
a:focus,a:active{outline:none;}

#intro {
	width:580px;
	height:560px;
	margin: 0 auto;
	padding-top:20px;
	position:relative;
	z-index:2
}

/**/
.qitem {
	width:290px;
	height:290px;

	/* required to hide the image after resized */
	overflow:hidden;

	/* for child absolute position */
	position:relative;

	/* display div in line */
	float:left;
	cursor:pointer
}

	.qitem img {
		border:0;

		/* allow javascript moves the img position*/
		position:absolute;
		z-index:200;
	}

	.qitem .caption {
		position:absolute;
		z-index:0;
		color:#ccc;
		display:none;
		padding:10px 20px;
	background: #090 url(../imgs/nav_btns3.png) no-repeat 0 center;
	box-shadow: inset 0 0 30px #111;
	width:250px;
	height:270px;
	overflow:hidden;
	display:none
	}
	#trt {
		background-color:  #ec7000;
		background-position: -290px center;
	}
	#blt {
		background-color: #eac703;
		background-position: -580px center;
	}
	#brt {
		background-color: #36c;
		background-position: -870px center;
	}

		.qitem .caption h4 {
			font-size:13px;
			padding:10px 5px 0 8px;
			margin:0;
			color: #606;
		}

		.qitem .caption p {
			font-size:11px;
			padding:3px 5px 0 8px;
			margin:0;
		}



/* Setting for corners */

.topLeft, .topRight, .bottomLeft, .bottomRight {
	position:absolute;
	background-repeat: no-repeat;
	float:left;
}

.topLeft {
	background-position: top left;
}

.topRight {
	background-position: top right;
}

.bottomLeft {
	background-position: bottom left;
}

.bottomRight {
	background-position: bottom right;
}
/**/




#scroll {
	position: absolute;
	overflow:hidden;
	width: 100%;
	height:100%;
	top:0;
	z-index:1
}

#tools {
	width:9999em;
	position:absolute;
	height:100%;
}

.tool {
	float:left;
	width:100%;
	height:100%;
	padding-top:20px;
	margin-right:1000px;
}

.inr {
	border-radius: 4px;
	box-shadow:0 0 8px #000;
	color:#fff;
	width: 540px;
	height:450px;
	padding: 10px 20px;
/*	opacity:0.95; */
	margin:0 auto
}

#cwd {
	background:url(../imgs/h5ic.png) 55px 85px no-repeat, url(../imgs/slds_bg.png) no-repeat 0 0 #090;
}
#wad {
	background:url(../imgs/wad_lgs2.png) 0 180px no-repeat, url(../imgs/slds_bg.png) no-repeat -580px 0 #ec7000;
}
#ec {
	background:#eac703 url(../imgs/slds_bg.png) no-repeat -1160px 0;
}
#gd {
	background:#36c url(../imgs/slds_bg.png) no-repeat -1740px 0;
}
#ctc {
	background:#7c06a6 url(../imgs/slds_bg.png) no-repeat right 0;
}



h1{
	font-family: 'Covered By Your Grace', cursive;
	font-weight:normal;
	font-size:64px;
	padding-left:10px
}
#wad h1 {
	font-size:52px;
}

.inr p, .inr ul {
	float:left;
	width:245px;
	padding:10px;
}
.inr p.rt, .inr ul.rt {
	float:right;
}
.inr ul li {
	margin-left:25px
}



#cwd p {
	height:150px;
}
#wad p {
	height:107px;
}
#ec p {
	height:130px;
}



#cprt{
color:#444;
position:absolute;
bottom:7px;
width:100%;
text-align:center;
}
#cprt p{
width:360px;
margin:0 auto;
text-shadow: 0 1px 0 #fff;
}




/* Nav */
#thumbs {
	background-color:#fff;
	opacity:0.9;
	height:48px;
	position:absolute;
	bottom:30px;
	text-align:center;
	width:100%;
	display:none
}
#thumbs .navi {
	height:48px;
	margin:0 auto;
	width:600px;
}

.t a {
	background-image: url(../imgs/nav_btns3.png);
	background-repeat:no-repeat;
	background-position: -1160px 0;
	margin-left:60px;
	display:block;
	width:48px;
	float:left;
	height:48px;
	cursor:pointer;
	opacity:1;
}
.t a:hover, .t a.active {
	background-position: -1208px 0;
}
.t a.active {
	cursor: default;
	background-color:#fff
}

#t0 {
	background-position: -1304px bottom;
	width:72px;
	height:72px;
	margin:-12px 0 0 20px;
	opacity:1;
}
#t0:hover  {
	background-position: right bottom;
}

#t2 {
	background-position: -1256px 0;
}
#t2:hover, #t2.active  {
	background-position: -1304px 0;
}

#t3 {
	background-position: -1352px 0;
}
#t3:hover, #t3.active{
	background-position: right 0;
}

#t4 {
	background-position: -1160px -48px;
}
#t4:hover, #t4.active {
	background-position: -1208px -48px;
}

#t5 {
	background-position: -1160px bottom;
}
#t5:hover, #t5.active {
	background-position: -1208px bottom;
}


/* Bgd */
.bgd{
	background-image:url(../imgs/cwd01.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-size: cover;
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	}
#first{
	}
#second{
	background-image:url(../imgs/wad02.png);
	}
#third{
	background-image:url(../imgs/ec03.jpg);
	}
#fourth{
	background-image:url(../imgs/gd04.jpg);
	}
#fifth{
	background-image:url(../imgs/ctc05.jpg);
	}

#plbgi{
	background-image:url(../imgs/cwd01.jpg), url(../imgs/wad02.png), url(../imgs/ec03.jpg), url(../imgs/gd04.jpg), url(../imgs/ctc05.jpg);
	background-repeat:no-repeat;
	background-position:-9999px -9999px
	}




/* Form */
form div
{
	padding:10px 0 10px 20px
}

label
{
	display:block;
	float:left;
	min-width:75px;
	text-align:right;
	line-height:24px;
	padding-right:3px
}

input, textarea
{
	background:#fff;
	border:1px solid #ccc;
	font-size:18px;
	padding:2px;
	width:360px;
	border-radius: 3px;
}
textarea
{
	font-size:13px;
	height:80px
}
#cptp
{
	text-align:center;
	padding:0 0 0 20px
}
img#captcha
{
	height:40px;
	width:108px;
	cursor:pointer
}
input#security_code
{
	width:106px;
	display:block;
	margin:0 auto
}

#Send
{
	width:90px;
	cursor:pointer;
	background-color:#ccc;
}
#Send:hover
{
	background-color:#aaa;
}

label.error, label.success
{
	float: none;
	font-style:italic;
	text-align:center;
}
label.error
{
	color:#ffa;
	font-size:12px;
}
label.success
{
	font-size:20px;
	font-weight:bold;
	margin-top:5px;
	border-top:1px dashed #fff
}
