/** * Eric Meyer's Reset CSS v2.0 */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


html,body{
	height:100%;
	width:100%;
}
body{
	font: 13px 'Francois One','Segoe UI Semibold','Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	line-height:1.4;
}

a{text-decoration:none

}
    a:focus,a:active{outline:none;

    }





#scroll {
	position: relative;
	overflow:hidden;
	width: 100%;
	height:100%;
	top:0;
	z-index:1
}

#tools {
	width:9999em;
	position:absolute;
	height:100%;
}

.tool {
	float:left;
	width:100%;
	height:100%;
}

.inr {
	border-radius: 4px;
	color:#fff;
	width:100%;
	height:100%;
    overflow-y:auto;
/*	opacity:0.95; */
}

#cwd {
	background: #090;
}
#wad {
	background: #ec7000;
}
#ec {
	background: #eac703;
}
#gd {
	background: #36c;
}
#ctc {
	background: #7c06a6;
}



h1{
	font-family: 'Covered By Your Grace', cursive;
	font-weight:normal;
	font-size:64px;
	text-align: center;
    margin-top: 50px
}
#wad h1 {
	font-size:52px;
}

.inr p, .inr ul {
	float:left;
	width:245px;
	padding:10px;
}
.inr ul li {
	margin-left:25px
}



#cwd p {
	height:150px;
}
#wad p {
	height:107px;
}
#ec p {
	height:130px;
}



#cprt{
color:#444;
position:absolute;
bottom:7px;
width:100%;
text-align:center;
}
#cprt p{
width:360px;
margin:0 auto;
text-shadow: 0 1px 0 #fff;
}




/* Nav */
#thumbs {
	background-color:#ccc;
	opacity:0.9;
	height:48px;
	position:absolute;
	top:0;
	text-align:center;
	width:100%;
}
#thumbs .navi {
	height:48px;
	margin:0 auto;
	width:600px;
}

.t a {
	background-image: url(../imgs/nav_btns3.png);
	background-repeat:no-repeat;
	background-position: -1160px 0;
	margin-left:60px;
	display:block;
	width:48px;
	float:left;
	height:48px;
	cursor:pointer;
	opacity:1;
}
.t a:hover, .t a.active {
	background-position: -1208px 0;
}
.t a.active {
	cursor: default;
	background-color:#fff
}

#t0 {
	background-position: -1304px bottom;
	width:72px;
	height:72px;
	margin:-12px 0 0 20px;
	opacity:1;
}
#t0:hover  {
	background-position: right bottom;
}

#t2 {
	background-position: -1256px 0;
}
#t2:hover, #t2.active  {
	background-position: -1304px 0;
}

#t3 {
	background-position: -1352px 0;
}
#t3:hover, #t3.active{
	background-position: right 0;
}

#t4 {
	background-position: -1160px -48px;
}
#t4:hover, #t4.active {
	background-position: -1208px -48px;
}

#t5 {
	background-position: -1160px bottom;
}
#t5:hover, #t5.active {
	background-position: -1208px bottom;
}


.mnu-sld {
	background-color:#333;
	color:#ffc;
	width:200px;
    height: 100%;
 	position: absolute;
  	left:-300px;
    top:0;
    z-index: 1000
}




/* Form */
form div
{
	padding:10px 0 10px 20px
}

label
{
	display:block;
	float:left;
	min-width:75px;
	text-align:right;
	line-height:24px;
	padding-right:3px
}

input, textarea
{
	background:#fff;
	border:1px solid #ccc;
	font-size:18px;
	padding:2px;
	width:360px;
	border-radius: 3px;
}
textarea
{
	font-size:13px;
	height:80px
}
#cptp
{
	text-align:center;
	padding:0 0 0 20px
}
img#captcha
{
	height:40px;
	width:108px;
	cursor:pointer
}
input#security_code
{
	width:106px;
	display:block;
	margin:0 auto
}

#Send
{
	width:90px;
	cursor:pointer;
	background-color:#ccc; 
}
#Send:hover
{
	background-color:#aaa; 
}

label.error, label.success
{
	float: none;
	font-style:italic;
	text-align:center;
}
label.error
{
	color:#ffa;
	font-size:12px;
}
label.success
{
	font-size:20px;
	font-weight:bold;
	margin-top:5px;
	border-top:1px dashed #fff
}
